.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.t42-caption-bar-button-notifications {
  position: relative;
}

.t42-caption-bar-button-notifications .nav-link {
  height: var(--t42-tab-bar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  color: var(--t42-standard-button-color);
  transition: none;
}

.t42-caption-bar-button-notifications .nav-link:hover {
  color: var(--t42-standard-button-hover-color);
}


.circle-index {
  align-items: center;
  background-color: #2080d3;
  border-radius: 50%;
  display: flex;
  font-size: 0.5rem;
  height: 0.875rem;
  justify-content: center;
  position: absolute;
  top: 3px;
  right: 3px;
  transform: scale(1);
  width: 0.875rem;
}

.circle-index.empty {
  transform: scale(0);
}